.welcome{ 
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center; 
    font-size: 2.0em; 
    margin-top: 20px;
}


.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:coral;
}


.instructions{
    opacity: 0.8;
    background-color: aliceblue;
    text-align: center; 
    font-size: 1.2em; 
    margin-top: 20px;
}

.form-group{
    text-align: left; 
    font-size: 1.2em; 
    margin: 20px auto;
    padding:20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 400px;
    background-color:lightgrey;
}

#submit-button{
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    font-size: 1.2em; 
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}
#submit-button:hover{
    background-color: darkcyan;
}

#home-page{
    background-color:darkgrey;
    background-image:url(assets/images/QuizBackgroundPic.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
